{% extends "app_2/layout/base.html" %}

<div class="clearfix"></div>
<div class="container">

    <h3>Profile</h3>
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
            <!-- /thumbnail -->
        </div>
        <div class="col-sm-3">
            <div class="col">
              <div class="col">
                <button>Lihat Forum</button>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="col">
                <a href="{% url 'app-2:edit' %}">Edit Profile</a>
              </div>
            </div>
        </div>
        <div class="col-sm-7">
          <br>
          <div class="col">{{ jumlah_status }}</div>
          <div class="col">Jumlah Status</div>
          <br>
          <br>
          <div class="col status_baru">{{ status_baru }}</div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
  <li><a data-toggle="tab" href="{% url 'app-3:index' %}">Riwayat</a></li>
  <li><a data-toggle="tab" href="{% url 'app-1:update_status' %}">Status</a></li>
</ul>

<div class="tab-content">
  <div id="profile" class="tab-pane fade in active">
    <p>Nama             : {{ nama }}</p>
    <p>NPM              : {{ npm }}</p>
    <p id="keahlian">Keahlian         : <i>Kosong</i></p>
    <p id="email">Email            : <i>Kosong</i></p>
    <p id="linkedin">Profile Linkedin : <i>Kosong</i></p>
  </div>
  <!-- <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div> -->
</div>

<script type="text/javascript">
	
</script>