<div class="clearfix"></div>
<div class="container">

    <h3>Profile</h3>
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
            <!-- /thumbnail -->
        </div>
        <div class="col-sm-3">
            <div class="col">
              <div class="col">
                <button>Simpan</button>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="col">
                <button href="app-2:simpan">Simpan/button>
              </div>
            </div>
        </div>
        <div class="col-sm-7">
          <br>
          <div class="col">{{ jumlah_status }}</div>
          <div class="col">Jumlah Status</div>
          <br>
          <br>
          <div class="col status_baru">{{ status_baru }}</div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
  <li><a data-toggle="tab" href="#menu1">Riwayat</a></li>
  <li><a data-toggle="tab" href="#menu2">Status</a></li>
</ul>

<div class="tab-content">
  <div id="profile" class="tab-pane fade in active">
    <button></button>
  </div>
  <!-- <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div> -->
</div>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: '815s0g0e8s5tsk'
    authorize: true
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress
</script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }
    
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
        IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }

    // Handle the successful return from the API call
    function displayProfileData(data){
        var user = data.values[0];
        document.getElementById("picture").innerHTML = '<img src="'+user.pictureUrl+'" />';
        document.getElementById("name").innerHTML = user.firstName+' '+user.lastName;
        document.getElementById("intro").innerHTML = user.headline;
        document.getElementById("email").innerHTML = user.emailAddress;
        document.getElementById("location").innerHTML = user.location.name;
        document.getElementById("link").innerHTML = '<a href="'+user.publicProfileUrl+'" target="_blank">Visit profile</a>';
        document.getElementById('profileData').style.display = 'block';
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    
    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }
    
    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }
</script>