{% extends "app_1/layout/base.html" %}

{% block content %}
<section name="input-status">
	<div class="container">
		<h1 id="title">
			<font face="Calibri">
				Update Status
			</font>
		</h1>
		<form id="form" method="POST" action="{% url 'app-1:add_status' %}">
			{% csrf_token %}
			{{ status_form }}
			<button id="button" type="submit" class="btn btn-primary">
				POST
			</button>
		</form>
	</div>
</section>
<section>
	<div class="container">
		{% if status %}
			{% for data in status %}
				<div class="status-list">
					<p>{{ data.description }}</p>
					<p>{{ data.created_date }}</p>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</section>
{% endblock %}