div.scroll {
    height: 500px;
    width: 100%;
    overflow: scroll;
    vertical-align: middle;
}

th {
    background-color: gray;
    text-align: center;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: lightslategrey    ;
}