div.scroll {
    height: 500px;
    width: auto;
    overflow: scroll;
    vertical-align: middle;
}

th {
    background-color: gray;
    color: white;
    text-align: center;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: lightgray;    ;
}