<nav class="navbar navbar-inverse bg-primary fixed-top navbar-light bg-faded">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Selamat Datang, {{ nama }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/update-status/">
        <img src="http://cliparting.com/wp-content/uploads/2016/10/Person-people-icon-clipart-kid.png" style="width:25px;height:25px">
        {{ nama }}
        </a></li>
        <a href="{% url 'app-1:auth_logout' %}" type="button" class="btn btn-danger">Sign Out</a>
      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>