{% extends "app_3/layout/base.html" %}

{% block content %}
<section class="main-riwayat" id="riwayat">
    <div class="container">
        <div class="row">
            <div class = "col">
                <div class = "scroll">
                    <table class = "table table-hover table-condensed" style="width: 100%;">
                        <tr>
                            <th>Nama Matkul</th>
                            <th>Nilai</th>
                        </tr>
                        <div>
                            {% for data in riwayat %}
                                <tr>
                                    <td style="text-align: center;"> {{ data.kelas.nm_mk_cl.nm_mk }}</td>
                                    <td class = "nilai" style="text-align: center;"> {{ data.nilai }}</td>
                                </tr>
                            {% endfor %}
                        </div>
                    </table>
                </div>
            </div>
            <!-- <div class = "col">
                <button id = "hide"> Hide Score </button>
            </div> -->
        </div>
    </div>
</section>
{% endblock %}