{% extends "app_3/layout/base.html" %}

{% block content %}
<section class="main-riwayat">
        <div>
                
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#status" aria-controls="home" role="tab" data-toggle="tab"> Status </a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="settings" role="tab" data-toggle="tab"> Profile </a>
                        </li>
                        <li role="presentation">
                            <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
                        </li>
                    </ul>
                
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="status">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <!-- Apply the same here -->
                            {% include 'app_2/app_2.html' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="riwayat">
                            <!-- Apply the same here -->
                            {% include 'app_3/app_3.html' %}
                        </div>
                    </div>
                </div>
</section>
{% endblock %}