{% extends "app_4/layout/base.html" %}
{% block content %}

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="search" align="center">

<form>
  <input id="npm-select" type="radio" name="param" value=0> NPM<br>
  <input id="name-select" type="radio" name="param" value=1> Nama<br>
  <input id="angkatan-select" type="radio" name="param" value=2> Angkatan<br>
  <input id="keahlian-select" type="radio" name="param" value=3> Keahlian<br>
  <input id="level-select" type="radio" name="param" value=4> Level<br>
</form>

<br>
<br>

<div class="scroll" align="center">
  <table id="myTable" align="center">
    <tr class="header">
      <th>NPM</th>
      <th>Nama</th>
      <th>Angkatan</th>
      <th>Keahlian</th>
    </tr>
    {% for mahasiswa in mahasiswa_list %}
      <tr>
        <td>{{mahasiswa.npm}}</td>
        <td>{{mahasiswa.name}}</td>
        <td>{{mahasiswa.angkatan}}</td>
        <td>{{mahasiswa.keahlian}}</td>
      </tr>
    {% endfor %}
  </table>
</div>


<script>
  function myFunction() {
    if(document.getElementById("npm-select").checked) {
      filterByNPM()
    }

    else if(document.getElementById("name-select").checked) {
      filterByName()
    }

    else if(document.getElementById("angkatan-select").checked) {
      filterByAngkatan()
    }

    else if(document.getElementById("keahlian-select").checked) {
      filterByLevel()
    }
  }

  function filterByNPM() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }

  function filterByName() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }

  function filterByAngkatan() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }

  function filterByLevel() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[3];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }

</script>
{% endblock %}